body.main {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #FEDEB4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1em;
    color: #000;
	line-height: 1.6;
}


hr {
    border-color: #999999;
	max-width: 400px;
}

div.title {
	display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: Helvetica,Arial,sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #AA8C66;
}

div.subtitle {
	display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #AA8C66;
}

.navbar {
	min-height: 0;
	border-radius: 0;
	
}

.navbar-nav {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

.navbar-header {
	display: none;
	
}

.navbar-default {
    border: none;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.fpage,
.sitetitle {
    text-transform: capitalize;
}

.fpage {
    margin: 15px 0;
	text-align: center;
}

.sitetitle {
    margin: 0;
    font-size: 4em;
	text-align: center;
}

.line {
	border-color: #999999;
    max-width: 250px;
	margin: 15px auto 3px;  
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.box:after {
    content: '';
    display: table;
    clear: both;
}

.img-full {
    min-width: 100%;
}